<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Welcome to HandsOn</title>

    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>

</head>

<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top starter-template">
    <a class="navbar-brand" target="_blank" href="http://www.handsonsystems.com"><img src="img/hos.jpg"></a>
</nav>

<main role="main" class="container">

    <div class="starter-template">
        <h1>Welcome to HandsOn Systems - DevOps Demo</h1>
        <h2>
            <span th:text="'Hello, ' + ${ip}"></span>
        </h2>
        <h3>
            <span th:text="'Total hits so far: ' + ${hits}"></span>
        </h3>
    </div>

</main>
<!-- /.container -->

<script type="text/javascript" th:src="@{webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>
</body>
</html>